.home-view {
  margin: 0;
  padding: 0;
  overflow: hidden;
  .intro-animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    z-index: 99;
    width: 100%;
    height: 100%;
    color: $complementary-color;
    background-color: $alpha-color;
    #full-logo {
      visibility: hidden;
    }
    ._item {
      h1 {
        display: none;
        opacity: 0;
      }
    }
    ._title_animation {
      span {
        color: $alpha-color;
        font-weight: bolder;
      }
      //overflow: hidden;
    }
  }
  ._hero-header {
    margin: 0;
    padding: 0;
    z-index: 2;
    letter-spacing: 0.2em;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 80) 0%,
        rgba(0, 0, 0, 0.01) 100%
      ),
      url(../static/images/hero-mobile.jpg);
    @media screen and (min-width: 750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 80) 0%,
          rgba(0, 0, 0, 0.01) 100%
        ),
        url(../static/images/hero-desktop.jpg);
      background-size: fit;
    }
    background-size: cover;
    background-position: center left;
    width: 100vw;
    height: 100vh;
    color: $complementary-color;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    ._title {
      color: white;
    }
  }
  ._feature {
    h2 {
      text-decoration: solid underline $complementary-color;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    ._image {
      border-radius: 4px;
      position: relative;
      &:nth-of-type(even) {
        margin-top: -30%;
        margin-left: 40%;
        width: 60%;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
        &:hover {
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
            0px 0px 20px -5px $alpha-color;
        }
      }
      &:nth-of-type(odd) {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
        width: 89%;
        margin-right: 20%;
        &:hover {
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5),
            0px 0px 10px -1px $alpha-color;
        }
      }
      &:hover {
        transition: box-shadow 0.5s ease-in-out;
      }
      transition: box-shadow 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}
.product-experience {
  h2 {
    text-decoration: underline $alpha-color;
  }
  .active-product {
    h3 {
      text-decoration: underline $complementary-color;
    }
  }
  .odd-product {
    animation: slideInRight 0.3s ease-in-out forwards;
  }
  .even-product {
    animation: slideInLeft 0.3s ease-in-out forwards;
  }

  @keyframes slideInRight {
    from {
      opacity: 0.5;
      scale: 0.5;
      transform: translateX(-2em);
    }
  }
  @keyframes slideInLeft {
    from {
      opacity: 0.5;
      scale: 0.5;
      transform: translateX(2em);
    }
  }

  ._product_presentation {
    span > ul {
      max-height: 25rem;
      overflow-y: scroll;
    }
    &.flex-md-row {
      li::before {
        content: ' ⚙️ ';
      }
    }
    &.flex-md-row-reverse {
      li::after {
        content: ' ⚙️ ';
      }
    }
    ul {
      list-style: none;
      padding-inline-start: 0;
    }
    ._cta-wrapper {
      .__cta {
        font-family: $title-font;
        border: 0.2em $alpha-color solid;
        padding: 1% 4%;
        cursor: pointer;
        font-size: 1.5em;
        color: white;
        background-color: $alpha-color;
        &:hover {
          letter-spacing: normal;
          color: $alpha-color;
          background-color: #fff;
        }
      }

      svg {
        margin: 1em 0;
        cursor: pointer;
        transition: ease-out 0.5s;
        &:hover {
          transform: scale(1.05);
          transition: ease-in 0.5s;
        }
      }
    }
  }
  .swiper-container {
    animation: fadeIn 0.5s ease-in-out forwards;

    @keyframes fadeIn {
      from {
        transform: scale(1.05);
        opacity: 0.6;
        filter: hue-rotate(-10deg);
      }
    }
  }
  .swiper-scrollbar {
    bottom: 10%;
    @media screen and (min-width: 750px) {
      top: 05%;
    }
    cursor: move;
  }
  .swiper-scrollbar-drag {
    @media screen and (min-width: 750px) {
      margin-top: -1%;
    }
    margin-top: -0.5%;
    height: 20px;
    border-radius: 50px;
    background-color: $alpha-color;
  }

  .swiper-slide {
    transition: all 0.5s ease-in;
    .gallery-image {
      border-radius: 4px;
    }
    .active-slide {
      h1 {
        border-left: 5px solid $complementary-color;
      }
      transition: all 0.5s ease-in;
    }
    .non-active-slide {
      transition: all 0.5s ease-out;
      transform: scale(0.5);
      opacity: 0.5;
    }
    .slide-product {
    }
  }
}
